img.mc-entry.mc-comment-photo(src=profile_image_url)
textarea.mc-input-comment.mc-entry(placeholder='Leave a note...')
a.mc-save-link.entry.mc-comment-link(href="#save") Save
a.mc-close-link.mc-comment-link(href='') Close
.mc-comments
  each comment in comments.filtered
    !=comment.display()
