img.entry(src=profile_image_url, style='border-radius: 50%;')
textarea.input-comment.entry(placeholder='a formal comment', style = 'border: none;  outline: none; resize: none;')
.comments
  each comment in comments.filtered
    !=comment.display()
