active-color = rgb(40, 186, 0)

.mc-indicated
  position relative
  padding-right 30px

.mc-indicated
  .mc-indicator
    opacity 0
    cursor pointer
    width 30px
    height 30px
    text-align center
    line-height 30px
    position absolute
    top 0
    right 0
    background-color #efefef
    border-radius 4px
  .mc-indicator.mc-faded
    opacity 0.5
  &:hover
    .mc-indicator
      opacity 1

.mc-comment-link
  color inherit
  text-decoration none
  margin-right .4em
  font-size 0.8rem
  &.mc-save-link
    margin-left 34px
    color active-color
  &:hover
    color active-color

.mc-comment-entry
  margin-right 20px

.mc-comment
  font-size 14px
  margin 8px 0px
  border-top #efefef solid 1px

.mc-comment-info
  height 30px

.mc-comment-author-name, .mc-comment-photo
  display inline-block
  vertical-align middle

.mc-comment-photo
  margin-right 7px
  width 26px
  height 26px
  border-radius 50%

.mc-comment-body
  font-size 13px
  margin-left 13%

.mc-input-comment
  border none
  outline none
  resize none
